.menu{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin: 0;
}

.autora, .lista {
    background-color: #DEB887;
    padding: 20px;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 3px 3px 3px rgb(117, 113, 113);
}

.autora:hover, .lista:hover {
    
}

.autora-link, .lista-link {
    text-decoration: none;
    color: #A0522D;
    font-weight: bold;
}
