.header {
    background: linear-gradient(to right, #d1913c, #ffd194);
    padding-top: 2rem;
}

.header div {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem 1rem 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}